/*
================================================================================================
                                Config File vAMPirus
================================================================================================
                                    vAMPirus
                                Author: Alex J. Veglia
                                Version: 1.0
------------------------------------------------------------------------------------------------
*/

params {

    //Project name
    projtag="vAMPrun"
    // PATH to run analysis
    mypwd="/data/alex/PVID_dinorna/AMPS/testvamp/vAMPirus"
    email="your_email@web.com"
    // Minimum merged read length
    minLen="400"
    // Maximum merged read length
    maxLen="440"
    // Forward primer sequence
    fwd=""
    // Reverse primer sequence
    rev=""
    // Cluster percentage ID (Example: .95 or .97)
    clustid=".97"
    // Alpha value for denoising - the higher the alpha the higher the chance of false positives.
    alpha="1"
    // Path to Directory where database is being stored
    dbdir="/data/alex/PVID_dinorna/alltigs/U-RVDBv18.0-protc.fasta"
    // Name of specific database to use for analysis
    dbname="U-RVDBv18.0-protc.fasta"
    // Toggle use of RefSeq header format; default is Reverence Viral DataBase (RVDB)
    refseq="F"
    // Specify list of cluster percent ids
    idlist=""
    // default for cluster ASV
    sinid=""
    // Global trimming for .... (Example: "10,20")
    GlobTrim="20,26"
    // Customs options for RAxML (Example: "-option1 A -option2 B -option3 C -option4 D")
    ntraxcust=""
    ptraxcust=""
    // Signal for RAxML to use model from ModelTest Results_C50
    ntmodeltrax=false
    ptmodeltrax=false

    // asv identity for counts
    asvID=".97"

    // minimum length of AA in cluster_AA
    minAA="100"
    // aaList in cluster_AA
    aaList=""
    // aaid in cluster_AA
    aaid=".95"
    //


// --------------------------  EDIT below variables if needed  -------------------------- //

// Directory for results
outdir="results"
// Directory for pipeline info
tracedir="pipeline_info"
// reads directory
reads="/data/alex/PVID_dinorna/AMPS/testvamp/vAMPirus/reads/*_R{1,2}.fastq.gz"

/*
// ------------------------------------     STOP     ------------------------------------ //
// ---------------------- Do not modify variables below this line. ---------------------- //
// ------------------------- Proceed to modify processes at end ------------------------- //
// -------------------------------        If nedded       ------------------------------- //
*/

// Pipeline options
help = false
fullHelp = false
//Test data
readsTest = null
// Skip quality control
skipQC = false
// Skip Porechop
skipPorechop = false
// Skip options
skipQC=false
skipFastP=false
skipBBduk=false
FTRIM="20"
RTRIM="26"
// Manadotory arguments
conTodos=false
// for clustering of ASV
clusterASV = false


}
/*
    Proceed to modify processes if needed. Choose the scheduler and options:
            Executor = SLURM, PBS, etc.
            Cluster Options = Partition, Nodes, Priority, Email, etc.
    If running locally leave the comments on "executor" and "clusterOptions".
    For more info see the README and/or Nextflow documentation.
*/

process {
    withLabel: norm_cpus {
        cpus='4'
        memory='15 GB'
        //executor='slurm'
        //clusterOptions=''
    }
    withLabel: rax_cpus {
        cpus='1'
        memory='15 GB'
        //executor='slurm'
        //clusterOptions=''
    }
    withLabel: low_cpus {
        cpus='4'
        memory='15 GB'
        //executor='slurm'
        //clusterOptions=''
    }
    withLabel: low_mem {
        cpus='28'
        memory='55 GB'
        //executor='slurm'
        //clusterOptions='--cluster=cm2 --partition=cm2_tiny --qos=cm2_tiny --nodes=1'
    }
    withLabel: low_mem2 {
        cpus='60'
        memory='90 GB'
        //executor='slurm'
        clusterOptions='--clusters=mpp3 --nodes=1'
    }
    errorStrategy='finish'
}

// env variables (only for nextflow)
env.tools="$baseDir/scripts/"

timeline {
  enabled = true
  file = "${params.mypwd}/${params.outdir}/${params.tracedir}/vampirus_timeline.html"
}
report {
  enabled = true
  file = "${params.mypwd}/${params.outdir}/${params.tracedir}/vampirus_report.html"
}
trace {
  enabled = true
  file = "${params.mypwd}/${params.outdir}/${params.tracedir}/vampirus_trace.txt"
}
dag {
  enabled = true
  file = "${params.mypwd}/${params.outdir}/${params.tracedir}/vampirus_dag.html"
}

profiles {
    conda {
        process.conda = "$baseDir/vampirus_env.yml"
    }
}
