/*
================================================================================================
                                Config File vAMPirus
================================================================================================
                                    vAMPirus
                                Author: Alex J. Veglia
                                Version: 1.0
------------------------------------------------------------------------------------------------
*/

params {
// --------------------------  EDIT variables where needed  -------------------------- //

    // Project/analyses- specific information
        //Project name - Name that will be used as a prefix for namng files by vAMPirus
            projtag="PVID_vAMPtest1"
        // Path to metadata spreadsheet file to be used for plot
            metadata=""
        // PATH to current working directory that contains (i) the vAMPirus.nf script, (ii)
            mypwd="/data/alex/PVID_dinorna/AMPS/testvamp/vAMPirus"
            email="your_email@web.com"
        // reads directory
            reads="/data/alex/PVID_dinorna/AMPS/testvamp/vAMPirus/reads/*_R{1,2}_001.fastq.gz"
        // Directory to store output of vAMPirus analyses
            outdir="results"


    // Merged read length filtering parameters
        // Minimum merged read length - reads below the specified maximum read length wil be used for counts only
            minLen="400"
        // Maximum merged read length - reads with length equal to the specified max read length will be used to generate uniques and ASVs
            maxLen="422"

    // Primer Removal parameters
        // If not specifying primer sequences, forward and reverse reads will be trimmed by number of bases specified using --GlobTrim #,#
            GlobTrim=""
        // Specific primer sequence on forward reads to be removed
            fwd="YTKCCTCGASCTRYTGGWCC"
        // Reverse primer sequence
            rev="MGCCAARTCASWCATATTAAAWGGCA"

    // ASV generation and clustering parameters
        // Alpha value for denoising - the higher the alpha the higher the chance of false positives in ASV generation (1 or 2)
            alpha="1"
        // Default percent similarity to cluster nucleotide ASV sequences
            clusterNuclID=".85"
        // List of percent similarities to cluster nucleotide ASV sequnces - must be seperated by ".95,.96"
            clusterNuclIDlist=""
        // Default percent similarity to cluster aminoacid sequences
            clusterAAID=".97"
        // List of percent similarities to cluster aminoacid sequences - must be seperated by ".95,.96"
            clusterAAIDlist=""
        // minimum length of AA in cluster_AA
            minAA="50"

    // Counts table generation parameters
        // Similarity ID to use for ASV counts table
            asvcountID=".97"
        // Protein counts table parameters
            // Minimum Bitscore for counts
                ProtCountsBit="50"
            // Minimum aminoacid sequence similarity for hit to count
                ProtCountID="85"
            // Minimum alignment length for hit to count
                ProtCountsLength="50"

    // Taxonomy assignment parameters
        // Specify name of database to use for analysis
            dbname="U-RVDBv18.0-protc.fasta"
        // Path to Directory where database is being stored
            dbdir="/data/alex/PVID_dinorna/alltigs/U-RVDBv18.0-protc.fasta"
        // Toggle use of RefSeq header format; default is Reverence Viral DataBase (RVDB)
            refseq="F"

    // Phylogeny analysis parameters
        // Customs options for RAxML (Example: "-option1 A -option2 B -option3 C -option4 D")
            ntraxcust=""
            ptraxcust=""
        // Signal for RAxML to use model from ModelTest Results_C50
            ntmodeltrax=false
            ptmodeltrax=false

    // Paths to files needed for --generateAAcounts option
        // Path to protein sequence fasta file to be used for counts
            proteinFasta=""
        // Path to merged read fastq/fasta file to be used for counts
            mergedFast=""
        // Path to list of sample names which are mentioned in the sequence headers
            sampleList=""

    // Path to counts file for report generation
/*
// ------------------------------------     STOP     ------------------------------------ //
// ---------------------- Do not modify variables below this line. ---------------------- //
// ------------------------- Proceed to modify processes at end ------------------------- //
// -------------------------------        If nedded       ------------------------------- //
*/

// Pipeline options
    help = false
    fullHelp = false
// Manadotory arguments
    Analyze=false
    dataCheck=false
    generateAAcounts=false //input needed: aminoacid fasta file with OTU translations and path to all merged reads fastq file
    generateReport=false //input needed: counts file and metadata file specified
// Options to skip read processing steps
    // Skip Read Processing
        skipReadProcessing=false
    // Skip quality control processes
        skipFastQC = false
    // Skip adapter removal process
        skipAdapterRemoval=false
    // Skip primer removal process
        skipPrimerRemoval=false
    // Skip AminoTyping
        skipAminoTyping=false
    // Skip Taxonomy
        skipTaxonomy=false
    // Skip phylogeny
        skipPhylogeny = false
// Clustering options
    // Cluster nucleotide sequences
        nOTU = false
    // Cluster by aminoacid translations and generate protein-based OTUs (pOTUs)
        pOTU = false
// Data check parameters
    datacheckntIDlist=".55,.65,.75,.85,.90,.91,.92,.93,.94,.95,.96,.97,.98,.99"
    datacheckaaIDlist=".55,.65,.75,.85,.90,.91,.92,.93,.94,.95,.96,.97,.98,.99,1.0"
// If not specifying primer sequences OR --GlobTrim, forward reads will be trimmed by number of bases specified below
        defaultFwdTrim="20"
// If not specifying primer sequences OR --GlobTrim, reverse reads will be trimmed by number of bases specified below
        defaultRevTrim="26"
// Directory for pipeline info
        tracedir="PipelineInformation"
// Test dataset
readsTest=false
}
/*
    Proceed to modify processes if needed. Choose the scheduler and options:
            Executor = SLURM, PBS, etc.
            Cluster Options = Partition, Nodes, Priority, Email, etc.
    If running locally leave the comments on "executor" and "clusterOptions".
    For more info see the README and/or Nextflow documentation.
*/

process {
    withLabel: norm_cpus {
        cpus='4'
        memory='15 GB'
        //executor='slurm'
        //clusterOptions=''
    }
    withLabel: rax_cpus {
        cpus='1'
        memory='15 GB'
        //executor='slurm'
        //clusterOptions=''
    }
    withLabel: low_cpus {
        cpus='4'
        memory='15 GB'
        //executor='slurm'
        //clusterOptions=''
    }
    withLabel: low_mem {
        cpus='28'
        memory='55 GB'
        //executor='slurm'
        //clusterOptions='--cluster=cm2 --partition=cm2_tiny --qos=cm2_tiny --nodes=1'
    }
    withLabel: low_mem2 {
        cpus='60'
        memory='90 GB'
        //executor='slurm'
        clusterOptions='--clusters=mpp3 --nodes=1'
    }
    errorStrategy='finish'
}

// env variables (only for nextflow)
env.tools="$baseDir/scripts/"

timeline {
  enabled = true
  file = "${params.mypwd}/${params.outdir}/${params.tracedir}/vampirus_timeline.html"
}
report {
  enabled = true
  file = "${params.mypwd}/${params.outdir}/${params.tracedir}/vampirus_report.html"
}
trace {
  enabled = true
  file = "${params.mypwd}/${params.outdir}/${params.tracedir}/vampirus_trace.txt"
}
dag {
  enabled = true
  file = "${params.mypwd}/${params.outdir}/${params.tracedir}/vampirus_dag.html"
}

profiles {
    conda {
        process.conda = "$baseDir/vampirus_env.yml"
    }
}
