/*
========================================================================================
                                Test Config File vAMPirus
========================================================================================
                            Virus Amplicon Analysis Pipeline
                            Author: Alex J.Veglia, Ramón E. Rivera Vicéns
----------------------------------------------------------------------------------------
*/

params {
    readsTest='example_data/test_reads/*R{1,2}.fq.gz'
    metadata="${projectDir}/example_data/testmeta.csv"
    gtrim="20,26"
    outdir="vAMPtestresults"
    workingdir="${projectDir}/example_data/"
    projtag="vAMPtest"
    clusterNuclID="85"
    clusterAAID="85"
    dbname="test_db.fasta"
    dbdir="${projectDir}/example_data/conf/"
    dbtype="RVDB"
    aminoC=5
    asvC=5
    stats = true
    asvTClust = true
    aminoTClust = true
}
