/*
========================================================================================
                                Test Config File vAMPirus
========================================================================================
                            Virus Amplicon Analysis Pipeline
                            Author: Alex J.Veglia
                            Version: 1.0 (dev)
----------------------------------------------------------------------------------------
*/

params {
    readsTest = [
        ['NAME_HERE', ['${params.vampdir}/example_data/test_reads/*R1*'], ['${params.vampdir}/example_data/test_reads/*R2*']]
    ]
    metadata = [
        ['${params.vampdir}/example_data/testmeta.csv']
    ]
}
